<div class="container mt-4">
    <app-go-back-button></app-go-back-button>

    <h2 class="mb-3">Lista de Productos</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Fecha de creación</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @for (p of products; track $index) {
            <tr>
                <td>{{ p.name | uppercase}}</td>
                <td>{{ p.price | currency:'EUR' }}</td>
                <td>{{ p.createdAt | date:'longDate' }} ({{ p.createdAt | date:'short' }})</td>
                <td>{{ p.quantity}} uds.</td>
            </tr>
            }
            <br>
            <p>{{ 'Este texto es muy largo y debe ser truncado' | slice:0:20 }}...</p>
        </tbody>
    </table>
</div>