<div class="list-group px-5">
        <ul class="list-group">
                <li class="list-group-item" [routerLink]="['/simple_component']" routerLinkActive="router-link-active">
                        <span class="bi bi-box"></span> Simple Component
                </li>
                <li class="list-group-item" [routerLink]="['/signals']" routerLinkActive="router-link-active"><span
                                class="bi bi-reception-4"></span> Signals</li>
                <li class="list-group-item" [routerLink]="['/advanced_signals']" routerLinkActive="router-link-active">
                        <span class="bi bi-signal"></span> Signals
                        Advanced
                </li>
                <li class="list-group-item" [routerLink]="['/observables']" routerLinkActive="router-link-active"><span
                                class="bi bi-eye"></span> Observables</li>
                <li class="list-group-item" [routerLink]="['/advanced_observables']"
                        routerLinkActive="router-link-active"><span class="bi bi-eye-fill"></span> Observables
                        Advanced</li>
                <li class="list-group-item" [routerLink]="['/pipes']" routerLinkActive="router-link-active"><span
                                class="bi bi-funnel-fill"></span> Pipes</li>
                <li class="list-group-item" [routerLink]="['/ng_model']" routerLinkActive="router-link-active"><span
                                class="bi bi-input-cursor-text"></span> Ng Model</li>
                <li class="list-group-item" [routerLink]="['/ng_class']" routerLinkActive="router-link-active"><span
                                class="bi bi-filetype-css"></span> Ng Class</li>
        </ul>
</div>