<div class="container mt-4">
    <h2 class="mb-3">Lista de Productos</h2>

    <input type="text" class="form-control mb-3" [(ngModel)]="filter" (ngModelChange)="filter.set($event)"
        placeholder="Buscar por nombre...">
    <p>{{filter()}}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Fecha de creación</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>

            @for (p of filteredProducts(); track $index) {
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.price | currency:'EUR' }}</td>
                <td>{{ p.createdAt | date:'longDate' }}</td>
                <td>{{ p.quantity}} uds.</td>
            </tr>
            }
        </tbody>
    </table>
</div>