@if (showDialog()) {
<app-confirm-dialog (choose)="onUserChooseOption($event)" />
} @else {

<div class="container mt-4">
    <app-go-back-button></app-go-back-button>

    <h1 class="mb-4 text-primary">Uso de Input/Ouput</h1>

    <h2 class="mb-4 text-primary">Contador {{counter()}}</h2>

    <app-action-button [title]="actionTitle()" (actionRequested)="handleRequest($event)"></app-action-button>
</div>
<div class="container mt-5">
    <h2>¿Está seguro de eliminar la cuenta del usuario?</h2>
    <button class="btn btn-danger" (click)="showDialogConfirmation()">Eliminar cuenta</button>
    <br><br>

    @if (result() !== null) {
    <div class="mt-3 alert alert-info">
        Decisión del usuario: {{ result() ? 'Aceptar' : 'Cancelar' }}
    </div>
    }

</div>
<div class="container mt-5">
    <h2>Valor seleccionado: {{rangeSelected()}}</h2>
    <app-range [title]="'Mi valor seleccionado'" (valueChanged)="onValueChanged($event)"></app-range>
</div>
}