<div class="container mt-4">
    <app-go-back-button></app-go-back-button>

    <h2 class="mb-3">Lista de Productos</h2>

    <input type="text" class="form-control mb-3" [value]="filter()" (input)="updateFilter($event)"
        placeholder="Buscar por nombre...">

    <div class="form-check">
        <input class="form-check-input" type="checkbox" [value]="outOfStock()" (input)="updateExists($event)">
        <label class="form-check-label" for="flexCheckDefault">
            Mostrar sin existencias
        </label>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Fecha de creación</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>

            @for (p of filteredProducts(); track $index) {
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.price | currency:'EUR' }}</td>
                <td>{{ p.createdAt | date:'longDate' }}</td>
                <td>{{ p.quantity}} uds.</td>
            </tr>
            }
        </tbody>
    </table>
</div>