<div class="container mt-4">
    <app-go-back-button></app-go-back-button>

    <h2 class="mb-3">Crear Producto</h2>

    <form #productForm="ngForm" (ngSubmit)="submitProduct()">
        <div class="mb-3">
            <label class="form-label" for="name">Nombre</label>
            <input #name="ngModel" type="text" id="name" name="name" class="form-control" [(ngModel)]="product.name"
                required />
        </div>

        @if (name.hasError('required')) {
        <div class="alert alert-danger">Is required</div>
        }

        <div class="mb-3">
            <label class="form-label" for="price">Precio</label>
            <input #price="ngModel" type="number" id="price" name="price" class="form-control"
                [(ngModel)]="product.price" required />
        </div>

        @if (price.hasError('required')) {
        <div class="alert alert-danger">Is required</div>
        }

        <div class="mb-3">
            <label class="form-label" for="createdAt">Fecha de creación</label>
            <input #createdAt="ngModel" type="date" id="createdAt" name="createdAt" class="form-control"
                [(ngModel)]="product.createdAt" required />
        </div>

        @if (createdAt.hasError('required')) {
        <div class="alert alert-danger">Is required</div>
        }

        <div class="mb-3">
            <label class="form-label" for="quantity">Cantidad</label>
            <input #quantity="ngModel" type="number" id="quantity" name="quantity" class="form-control"
                [(ngModel)]="product.quantity" required />
        </div>

        @if (quantity.hasError('required')) {
        <div class="alert alert-danger">Is required</div>
        }

        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">
            Crear
        </button>
    </form>

    <hr>
    <h2 class="mb-3">Json Producto</h2>
    <div class="mt-4">
        <pre>{{ product | json }}</pre>
    </div>
</div>